{{ define "main" }}

<div class="container">
  <section class="my">
    <div class="content content-links">
      {{ with .Content }}
      {{ . }}
      {{ end }}
    </div>
  </section>
</div>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}

<div class="container">
  <section>
    <div class="posts">
      {{ range $pages.GroupByDate "2006" }}
        {{ range .Pages }}
          <div class="post">
            <a href="{{ .RelPermalink }}">
              <div class="post-row">
                <time>{{ .Date.Format "2006/01/02" }}</time>
                <h3>{{ .Title }}</h3>
              </div>
            </a>
          </div>
        {{ end }}
      {{ end }}
      </div>
  </section>
</div>

{{ end }}
